# Created by https://www.toptal.com/developers/gitignore/api/macos,java,powershell
# Edit at https://www.toptal.com/developers/gitignore?templates=macos,java,powershell

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# idea
.idea

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride
.icloud